@media (min-width: 375px) {
  /*Modal window*/

  .buy-is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  .buy-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(20, 21, 34, 0.4);
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buy-modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 95%;
    padding: 32px 24px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    background: #fafafa;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: scroll;
  }

  .buy-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    fill: #111111;
    border: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buy-close-btn:hover,
  .buy-close-btn:focus {
    fill: #fd9222;
  }

  .buy-close-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-header {
    color: #fd9222;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    /* 120% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .modal-header-text-color {
    color: #111;
  }

  .information {
    text-transform: capitalize;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    color: #2e2f42;
  }

  .buy-products-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    gap: 8px;
  }

  .buy-product-li {
    width: 263px;
    padding: 8px 16px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .buy-image {
    width: 84px;
    height: 69px;
  }

  .gram {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    letter-spacing: normal;
    color: #111;
    background-color: #fafafa;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 70px;
    height: 29px;
    padding: 8px 27px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gram:focus,
  .gram:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .div-modal-form {
    margin-bottom: 18px;
  }

  .label-modal {
    display: block;
    padding-bottom: 8px;
    color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.24px;
  }

  .div-label-modal {
    position: relative;
  }

  .buy-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .input-modal {
    width: 263px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 14px 18px;
    outline: transparent;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
  }

  .input-modal-phone {
    padding-left: 106px;
  }

  .input-modal::placeholder {
    color: #4040404d;
  }

  .personal-information {
    width: 263px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 14px 18px;
    outline: transparent;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
  }

  .personal-information::placeholder {
    color: #4040404d;
  }

  .svg-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-div-four {
    margin-bottom: 16px;
  }

  .textarea-modal {
    width: 263px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.36px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    background-color: transparent;
    padding: 14px 18px 60px 18px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
  }

  .textarea-modal::placeholder {
    color: #4040404d;
  }

  .svg-modal-ua {
    position: absolute;
    top: 50%;
    left: 10px;
    /* Odległość ikony od lewej krawędzi */
    transform: translateY(-50%);
  }

  .svg-modal-mastercard {
    position: absolute;
    top: 35%;
    right: 18px;
    width: 21px;
    height: 12px;
  }

  .button-modal {
    display: flex;
    justify-content: left;
  }

  .buy-send-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #fd9222;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 93px;
    height: 41px;
    padding: 12px 28px;
    border: none;
    border-radius: 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buy-send-button:focus,
  .buy-send-button:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
}

@media (min-width: 768px) {
  /*Modal window*/

  .buy-modal-window {
    width: 609px;
    padding: 48px;
  }

  .buy-products-ul {
    flex-direction: row;
    margin-bottom: 40px;
    gap: 16px;
  }

  .buy-product-li {
    width: 160px;
    padding: 24px 20px 18px;
    flex-direction: column;
    gap: 14px;
  }

  .buy-image {
    width: 120px;
    height: 107px;
  }

  .gram {
    min-width: 96px;
    height: 33px;
  }

  .gram:focus,
  .gram:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .label-modal {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }

  .input-modal {
    width: 513px;
    padding: 22px 24px;
    font-size: 18px;
  }

  .input-modal-phone {
    padding-left: 177px;
  }

  .personal-information {
    width: 513px;
    padding: 22px 24px;
    font-size: 18px;
  }

  .modal-div-four {
    margin-bottom: 16px;
  }

  .textarea-modal {
    width: 513px;
    font-size: 18px;
    padding: 22px 24px;
  }

  .svg-modal-mastercard {
    right: 24px;
    width: 30px;
    height: 18px;
  }

  .buy-send-button {
    min-width: 133px;
    height: 45px;
    padding: 14px 40px;
  }
}

@media (min-width: 1200px) {
  .buy-modal-window {
    width: 609px;
    padding: 48px;
  }

  .modal-header {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 40px;
  }

  .buy-products-ul {
    flex-direction: row;
    margin-bottom: 40px;
    gap: 16px;
  }

  .buy-product-li {
    width: 160px;
    padding: 24px 20px 18px;
    flex-direction: column;
  }

  .buy-image {
    width: 120px;
    height: 107px;
  }

  .gram {
    min-width: 96px;
    height: 33px;
  }

  .label-modal {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.28px;
  }

  .buy-form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .personal-information-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .personal-infromation-label {
    display: block;
    width: 513px;
  }

  .personal-information {
    width: 200px;
    padding: 22px 24px;
  }

  .input-modal {
    width: 513px;
    padding: 22px 24px;
    outline: transparent;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
  }

  .input-modal-phone {
    padding-left: 106px;
  }

  .input-modal::placeholder {
    color: #4040404d;
  }

  .personal-information {
    width: 263px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 14px 18px;
    outline: transparent;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.36px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
  }

  .personal-information::placeholder {
    color: #4040404d;
  }

  .svg-modal {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-div-four {
    margin-bottom: 16px;
  }

  .textarea-modal {
    width: 263px;
    font-size: 14px;
    line-height: normal;
    letter-spacing: -0.36px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    background-color: transparent;
    padding: 14px 18px 60px 18px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(64, 64, 64, 0.3);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
  }

  .textarea-modal::placeholder {
    color: #4040404d;
  }

  .svg-modal-ua {
    position: absolute;
    top: 50%;
    left: 10px;
    /* Odległość ikony od lewej krawędzi */
    transform: translateY(-50%);
  }

  .svg-modal-mastercard {
    position: absolute;
    top: 35%;
    right: 18px;
    width: 21px;
    height: 12px;
  }

  .button-modal {
    display: flex;
    justify-content: left;
  }

  .buy-send-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: normal;
    color: #ffffff;
    background-color: #fd9222;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 93px;
    height: 41px;
    padding: 12px 28px;
    border: none;
    border-radius: 100px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .buy-send-button:focus,
  .buy-send-button:hover {
    background-color: #fcf1e0;
    color: #fd9222;
  }
}

/*==========================Personal information===========================*/

.maindiv {
  display: flex;
  flex-direction: row;
  align-items: center
}

.inputdiv {
  display: flex;
  flex-direction: column;
}