@media (min-width: 375px) {
  .our-products-section {
    background-color: #fafafa;
  }
  .our-products-container {
    width: 335px;
    margin: 0 auto 72px;
  }
  .our-products-header {
    color: #111;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin-bottom: 32px;
  }

  .our-products-header-products {
    color: #fd9222;
  }

  .our-products-card-container {
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 64px;
  }

  .our-products-card-wrapper {
    display: flex;
    flex-direction: row;
    min-width: 0;
  }

  .our-products-card {
    width: 335px;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fff;
    padding: 32px 52px;
    flex: 0 0 auto;
  }

  .our-products-card-img {
    width: 230px;
    height: 201px;
    margin-bottom: 8px;
  }
  .our-products-card-text-container {
    text-align: center;
  }

  .our-products-card-flavour {
    color: #111;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: -0.36px;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .our-products-card-type {
    color: rgba(17, 17, 17, 0.7);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.24px;
    margin: 0 auto;
  }

  .our-products-button {
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: #fafafa;
    padding: 8px 20px;
    margin-top: 18px;
    font-size: 14px;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .our-products-container {
    width: 704px;
    margin: 0 auto 100px;
  }
  .our-products-header {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }
  .our-products-card {
    width: 270px;
    padding: 32px 20px;
  }
}

@media (min-width: 1200px) {
  .our-products-container {
    width: 1136px;
    margin: 0 auto 128px;
  }
  .our-products-header {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }

  .our-products-card {
    width: 270px;
    height: 364px;
    padding: 32px 20px;
  }
}
