@import url(styles-review.css);
@import url(buy-modal.css);
@import url(unique-components.css);
@import url(advantages.css);
@import url(footer.css);
@import url(header.css);
@import url(how-its-made.css);
@import url(our-products.css);
@import url(top-sellers.css);
@import url(modal-subscribe.css);
@import url(hero.css);
@import url(subscribe.css);

body {
  font-family: "Montserrat", sans-serif;
  color: #111111;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
