@media (min-width: 375px) {
  .top-sellers-section {
    background-color: #fafafa;
  }
  .top-sellers-container {
    width: 335px;
    margin: 0 auto 72px;
  }

  .top-sellers-header {
    color: #111;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 32px;
  }
  .top-sellers-header-top {
    color: #fd9222;
  }

  .top-sellers-contents {
    display: flex;
  }

  .top-sellers-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .top-sellers-img {
    border-radius: 15px;
  }

  .top-sellers-img2 {
    display: none;
  }

  .top-sellers-text-mobile {
    color: #111;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
    width: 306px;
    margin-bottom: 12px;
  }

  .top-sellers-text-desktop {
    display: none;
  }

  .top-sellers-button {
    border-radius: 100px;
    background: #fd9222;
    padding: 12px 28px;
    border: none;
    color: #fff;
    margin: 20px auto 0;
    display: flex;

    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .top-sellers-button:hover {
    background: #fcf1e0;
    color: #fd9222;
  }
}

@media (min-width: 768px) {
  .top-sellers-container {
    width: 704px;
    margin: 0 auto 100px;
  }

  .top-sellers-header {
    font-size: 24px;
    line-height: 28x;
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }

  .top-sellers-contents {
    justify-content: center;
  }

  .top-sellers-images {
    flex-direction: row;
    gap: 16px;
  }

  .top-sellers-text-mobile {
    display: none;
  }

  .top-sellers-text-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 32px;
  }

  .top-sellers-text-desktop {
    display: inline-block;
    width: 306px;
    font-size: 14px;

    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .top-sellers-button {
    padding: 14px 40px;
    margin: 0;
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

@media (min-width: 1200px) {
  .top-sellers-container {
    width: 1136px;
    margin: 0 auto 128px;
  }

  .top-sellers-header {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.72px;
    margin-bottom: 50px;
  }

  .top-sellers-images {
    flex-direction: row;
    gap: 16px;
  }

  .top-sellers-img {
    width: 368px;
  }

  .top-sellers-img2 {
    display: inline-block;
  }

  .top-sellers-text-mobile {
    display: none;
  }

  .top-sellers-text-desktop {
    display: inline-block;
    width: 407px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.28px;
  }

  .top-sellers-button {
    padding: 14px 40px;
    margin: 0;
    font-size: 18px;
  }
}
