<div class="buy-backdrop buy-is-hidden" buy-modal>
  <div class="buy-modal-window">
    <button type="button" class="buy-close-btn" buy-modal-close>
      <svg
        class="reviews-close-button-svg"
        width="100%"
        height="100%"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M21 7L7 21"
          stroke="#111111"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M7 7L21 21"
          stroke="#111111"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
    <h2 class="modal-header">
      Buy
      <span class="modal-header-text-color">Now</span>
    </h2>

    <div class="buy-products">
      <ul class="buy-products-ul">
        <li class="buy-product-li">
          <img
            class="buy-image"
            alt="chocolate"
            src="./images/chocolate-modal-left.jpg"
            srcset="
              ./images/chocolate-modal-left.jpg    1x,
              ./images/chocolate-modal-left@2x.jpg 2x
            "
          />
          <button type="button" class="gram">100 g</button>
        </li>
        <li class="buy-product-li">
          <img
            class="buy-image"
            alt="chocolate"
            src="./images/chocolate-modal-center.jpg"
            srcset="
              ./images/chocolate-modal-center.jpg    1x,
              ./images/chocolate-modal-center@2x.jpg 2x
            "
          />
          <button type="button" class="gram">200 g</button>
        </li>
        <li class="buy-product-li">
          <img
            class="buy-image"
            alt="chocolate"
            src="./images/chocolate-modal-right.jpg"
            srcset="
              ./images/chocolate-modal-right.jpg    1x,
              ./images/chocolate-modal-right@2x.jpg 2x
            "
          />
          <button type="button" class="gram">300 g</button>
        </li>
      </ul>

      <form class="buy-form">
        <h5>Personal information</h5>
        <div class="maindiv div-modal-form personal-information-box">
          <div class="inputdiv">
            <label
              class="label-modal personal-infromation-label"
              for="name"
            ></label>
            <input
              id="name"
              name="name"
              type="text"
              placeholder="Name"
              class="personal-information"
              required
            />
          </div>
          <div class="inputdiv">
            <label class="label-modal" for="surname"></label>
            <input
              id="surname"
              name="surname"
              type="text"
              placeholder="Surname"
              class="personal-information"
              required
            />
          </div>
        </div>
        <div class="div-modal-form">
          <label class="label-modal" for="email"> Email </label>
          <div class="div-label-modal">
            <input
              id="email"
              name="email"
              type="text"
              placeholder="Enter your email"
              class="input-modal"
              required
            />
          </div>
        </div>
        <div class="div-modal-form">
          <label class="label-modal" for="phone number"> Phone number </label>
          <div class="div-label-modal">
            <div class="reviews-form-input-box-phone">
              <svg
                class="reviews-form-icon"
                xmlns="http://www.w3.org/2000/svg"
                width="100%"
                height="100%"
                viewBox="0 0 32 25"
                fill="none"
              >
                <g clip-path="url(#clip0_1_1184)">
                  <path
                    d="M31.8318 1.05835H0.242676V24.5665H31.8318V1.05835Z"
                    fill="#FFD700"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M0.242676 1.05835H31.8318V12.8124H0.242676V1.05835Z"
                    fill="#0057B7"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1_1184">
                    <rect
                      width="32"
                      height="24"
                      fill="white"
                      transform="translate(0 0.799988)"
                    />
                  </clipPath>
                </defs>
              </svg>
              <p class="reviews-form-icon-country-code">+380</p>
            </div>
            <input
              id="phone number"
              name="phone number"
              type="text"
              placeholder="Phone number"
              class="input-modal input-modal-phone"
              required
            />
          </div>
        </div>
        <div class="div-modal-form">
          <label class="label-modal" for="card number"> Card number </label>
          <div class="div-label-modal">
            <input
              id="card number"
              name="card number"
              type="text"
              placeholder="Enter card"
              class="input-modal"
              required
            />
            <svg
              width="100%"
              height="100%"
              class="svg-modal-mastercard"
              viewBox="0 0 32 20"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16 16.8343C14.4022 18.2053 12.3295 19.033 10.0647 19.033C5.01106 19.033 0.914307 14.9122 0.914307 9.82898C0.914307 4.74576 5.01106 0.625 10.0647 0.625C12.3295 0.625 14.4022 1.45267 16 2.82371C17.5979 1.45267 19.6705 0.625 21.9354 0.625C26.989 0.625 31.0857 4.74576 31.0857 9.82898C31.0857 14.9122 26.989 19.033 21.9354 19.033C19.6705 19.033 17.5979 18.2053 16 16.8343Z"
                fill="#ED0006"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16 16.8343C17.9674 15.1461 19.215 12.6341 19.215 9.82898C19.215 7.02389 17.9674 4.51189 16 2.82371C17.5978 1.45267 19.6705 0.625 21.9354 0.625C26.989 0.625 31.0857 4.74576 31.0857 9.82898C31.0857 14.9122 26.989 19.033 21.9354 19.033C19.6705 19.033 17.5978 18.2053 16 16.8343Z"
                fill="#F9A000"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.0001 16.8343C17.9675 15.1462 19.2151 12.6342 19.2151 9.82909C19.2151 7.02402 17.9675 4.51203 16.0001 2.82385C14.0327 4.51203 12.7852 7.02402 12.7852 9.82909C12.7852 12.6342 14.0327 15.1462 16.0001 16.8343Z"
                fill="#FF5E00"
              />
            </svg>
          </div>
        </div>
        <div class="modal-div-four">
          <label for="user-comment" class="label-modal">Comment</label>
          <textarea
            type="text"
            id="user-comment"
            name="user-comment"
            placeholder="Enter text"
            class="textarea-modal"
          ></textarea>
        </div>
        <div class="button-modal">
          <button type="submit" class="buy-send-button" buy-modal-close>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
