<section class="">
  <h2 class="our-products-h2">Our<span class="our-products-h2-span">Products</span></h2>
  <div class="our-products-container">
    <div class="our-products-choc">
      <div class="our-products-choc-div">
        <img
          class="our-products-choc-img"
          alt="orange chocolate"
          src="./images/chocolate-orange.jpg"
          width="230"
          height="201"
        />
      </div>
      <div class="our-products-text-container">
        <p class="our-products-choc-text">Orange</p>
        <p class="our-products-choc-text2">Dark Chocolate</p>
        <button type="button" class="our-products-button">45 UAH</button>
      </div>
    </div>
    <div class="our-products-choc2">
      <div class="our-products-choc-div2">
        <img
          class="our-products-choc-img"
          alt="cranberry chocolate"
          src="./images/chocolate-cranberry.jpg"
          width="230"
          height="201"
        />
      </div>
      <div class="our-products-text-container">
        <p class="our-products-choc-text">Apple&Cranberry</p>
        <p class="our-products-choc-text2">Milk Chocolate</p>
        <button type="button" class="our-products-button">50 UAH</button>
      </div>
    </div>
    <div class="our-products-choc3">
      <div class="our-products-choc-div3">
        <img
          class="our-products-choc-img"
          alt="lime and sea salt chocolate"
          src="./images/chocolate-lime.jpg"
          width="230"
          height="201"
        />
      </div>
      <div class="our-products-text-container">
        <p class="our-products-choc-text">Lime&Sea Salt</p>
        <p class="our-products-choc-text2">Dark Chocolate</p>
        <button type="button" class="our-products-button">66 UAH</button>
      </div>
    </div>
    <div class="our-products-choc3">
      <div class="our-products-choc-div3">
        <img
          class="our-products-choc-img"
          alt="lime and sea salt chocolate"
          src="./images/chocolate-pinapple.jpg"
          width="230"
          height="201"
        />
      </div>
      <div class="our-products-text-container">
        <p class="our-products-choc-text">Pinapple</p>
        <p class="our-products-choc-text2">Dark Chocolate</p>
        <button type="button" class="our-products-button">54 UAH</button>
      </div>
    </div>
  </div>
  <div class="our-products-svg-slider">
    <svg class="svg-slider-op" width="236" height="13">
      <use href="./images/icons/our-products-icons.svg#icon-slider"></use>
    </svg>
  </div>
</section>
