<section class="container footer-container">
    <div class="footer-title">
        <p><span class="footer-chocolate">Chocolate</span> a delicious <br>cure for a bad day
        </p>
    </div>

    <div class="footer-contact-tablet"></div>
    <address class="footer-address">

        <span class="footer-h2">Contact us</span>
        <ul class="footer-contact">
            <li>
                <a class="footer-mail" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
            <li><a href="tel:+380 (68) 443-94-26" class="footer-tel">+380 (68) 443-94-26</a></li>
        </ul>
    </address>

    
    <div class="footer-container">
        <ul class="footer-social-links">
            <li>
                <a class="footer-social-link" href="#">
                    <svg width="24px" height="24px">
                        <use id="instagram_normal_state"></use>
                    </svg>
                </a>
            </li>

            <li>
                <a class="footer-social-link " href="#">
                    <svg class="footer-icon">
                        <use class="footer-social-position" href="./images/icons/icons.svg#icon-twitter_mobile"></use>
                    </svg>
                </a>

        </ul>
    </div>
    

</section>

<section class="container footer-nav-container">
    </nav>
    <nav class="footer-nav">
        <ul class="footer-menu">
            <li><a class="" href="">Home</a></li>
            <li><a class="" href="">How it's made</a></li>
            <li><a class="" href="">Our products</a></li>
            <li><a class="" href="">Top Sellers</a></li>
            <li><a class="" href="">Chocolate is loved</a></li>
        </ul>

    </nav>

</section>