<section class="container">
    <div class="header-brand"><a class="" href="./index.html"><b>SIMPLY CHOCOLATE</b></a>
        <svg class="header-position-social">
            <use id="logo_thin"></use>
        </svg>
        </a>
    </div>

    <!----------------------------------------------------HAMBURGER-->

    <button class="header-nav-button js-open-menu">
        <span><svg class="hamburger-icon" width="14px" height="21px">
                <use href="./images/icons/icons.svg#icon-menu_small" use></use>
            </svg></span>
    </button>

    <!----------------------------------------------------------------->

    <nav class="header-nav-desktop">
        <ul class="header-menu">
            <li><a class="" href="">Home</a></li>
            <li><a class="" href="">How it's made</a></li>
            <li><a class="" href="">Our products</a></li>
            <li><a class="" href="">Top Sellers</a></li>
            <li><a class="" href="">Chocolate is loved</a></li>
        </ul>

        <ul class="">
            <li>
                <a class="header-icon-social" href="#">
                    <svg width="24px" height="24px">
                        <use id="instagram_normal_state"></use>
                    </svg>
                </a>
            </li>

            <li>
                <a class="header-icon-social" href="#">
                    <svg width="24px" height="24px" class="position-social">
                        <use id="twitter_normal_state"></use>
                    </svg>
                </a>

        </ul>
    </nav>
</section>