<section class="hero">
  <div class="hero-container">
    <h2 class="visually-hidden">Hero</h2>
    <div class="hero-container-paragraf">
      <p class="hero-paragraf">
        Treat yourself or a loved one <br class="hero-br" />
        to <br class="hero-br2" />
        our finest ingredients for a moment of pure delight!
      </p>
    </div>
    <div class="hero-buttons">
      <div class="hero-button-container">
        <button type="button" class="hero-buy-button" buy-modal-open>Buy now</button>
        <button class="hero-him-button">How it's made</button>
      </div>

      <div class="hero-scroll-container">
        <a href="#" class="hero-scroll-link"
          ><p class="hero-scroll-text">scroll down</p>
          <div class="hero-svg-circle">
            <svg class="hero-scroll-svg" width="100%" height="100%">
              <use
                href="./images/icons/icons.svg#icon-Vector"
                class="hero-scroll-icon"
                fill="#fd9222"
              ></use>
            </svg>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
