<div class="subscribe-modal-backdrop subscribe-modal-is-hidden" sub-modal>
  <div class="subscribe_modal">
    <button type="button" class="subscribe_modal-close-btn" sub-modal-close>&#10006;</button>

    <div class="subscribe_modal-image"></div>

    <h2 class="subscribe_modal-title">
      Explore our
      <br />
      <span class="subscribe_modal-title_orange">new chocolate</span>
      first!
    </h2>

    <form name="subscribe_modal-email-form">
      <label class="subscribe_modal-label" for="user-email">
        <input
          class="subscribe_modal-email-input"
          type="email"
          placeholder="Enter your email"
          id="subscribe_user-email"
          autofocus
          required
        />
      </label>
      <button class="subscribe_modal-form-btn" type="submit" sub-modal-close>Submit</button>
    </form>
  </div>
</div>
