<section class="top-sellers top-sellers-fonts">
  <div class="top-sellers-container">
    <h2 class="top-sellers-h2"><span class="top-sellers-h2-span">Top</span>Sellers</h2>
    <div clas="top-sellers-img-div">
      <img
        class="top-sellers-img"
        alt="hazelnut chocolate"
        src="./images/top-sellers1.jpg"
        width="335"
        height="464"
      />
      <p class="top-sellers-text">
        Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao
        has been around for thousands of years and was first discovered by the Native American tribe
        called the Mayans.
      </p>
      <img
        class="top-sellers-img"
        alt="milk chocolate"
        src="./images/top-sellers2.jpg"
        width="335"
        height=""
      />
      <img
        class="top-sellers-img2"
        alt="3rd chocolate"
        src="./images/top-sellers3.jpg"
        width="335"
        height=""
      />
    </div>
    <div class="top-sellers-text-div">
      <p class="top-sellers-text2">
        Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao
        has been around for thousands of years and was first discovered by the Native American tribe
        called the Mayans.
      </p>
      <button class="top-sellers-button" type="button">Buy now</button>
    </div>
  </div>
</section>
