<!-- unique-components-section -->
<section class="unique-components-section unique-components-and-its-made-fonts">
  <div class="unique-components-container">
    <h2 class="unique-components-heading">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="unique-components-heading-span">TASTE</span> SENSATION
    </h2>
    <p class="unique-components-paragraph">
      At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details.
      From the sourcing of the finest ingredients to the careful crafting of each individual piece,
      every step of our process adds up to one exceptional taste sensation.
    </p>
    <ul class="unique-components-cards">
      <li class="unique-components-card">
        <!--  -->
        <img
          class="unique-components-img"
          alt="Milk chocolate cubes"
          src="./images/milk-chocolate-224.png"
          srcset="./images/milk-chocolate-224@2x.png 2x"
        />

        <p class="unique-components-img-caption">milk chocolate</p>
        <!-- unique-components-card-description -->
        <div class="unique-components-card-body">
          <div class="unique-components-group">
            <h2 class="unique-components-card-title">milk chocolate</h2>
            <div class="unique-components-card-about-btn">
              <button class="unique-components-card-title-btn" type="button">chocolate</button>
              <button class="unique-components-card-benefits-btn" type="button">
                the benefits
              </button>
            </div>
            <p class="unique-components-card-paragraph">
              Milk chocolate is a solid chocolate confectionery contain cocoa, sugar and milk. It is
              the most consumed type of chocolate. Chocolate was originally sold and consumed as a
              beverage in pre-Columbian times. Although four-fifths of all milk chocolate is sold in
              the United States and Europe.
            </p>
          </div>
        </div>
        <!-- unique-components-card-description -->
      </li>
      <li class="unique-components-card">
        <img
          class="unique-components-img"
          alt="Bottle of milk"
          src="./images/milk-224.png"
          srcset="./images/milk-224@2x.png 2x"
        />
        <p class="unique-components-img-caption">milk</p>
        <!-- unique-components-card-description -->
        <div class="unique-components-card-body">
          <div class="unique-components-group">
            <h2 class="unique-components-card-title">milk</h2>
            <div class="unique-components-card-about-btn">
              <button class="unique-components-card-title-btn" type="button">milk</button>
              <button class="unique-components-card-benefits-btn" type="button">
                the benefits
              </button>
            </div>
            <p class="unique-components-card-paragraph">
              Milk is a white liquid food produced by the mammary glands of mammals. It is the
              primary source of nutrition for young mammals (including breastfed human infants)
              before they are able to digest solid food.Early-lactation milk, which is called
              colostrum, contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
        <!-- unique-components-card-description -->
      </li>
      <li class="unique-components-card">
        <img
          class="unique-components-img"
          alt="A handful of hazelnuts"
          src="./images/nuts-224.png"
          srcset="./images/nuts-224@2x.png 2x"
        />
        <p class="unique-components-img-caption">nuts</p>
        <!-- unique-components-card-description -->
        <div class="unique-components-card-body">
          <div class="unique-components-group">
            <h2 class="unique-components-card-title">nuts</h2>
            <div class="unique-components-card-about-btn">
              <button class="unique-components-card-title-btn" type="button">nuts</button>
              <button class="unique-components-card-benefits-btn" type="button">
                the benefits
              </button>
            </div>
            <p class="unique-components-card-paragraph">
              Almonds, pistachios, and walnuts are some types of nuts that contain healthy
              nutrients. When eaten as part of a nutrient-dense diet, these 9 nuts may offer
              benefits such as reducing your risk of heart disease. They’re a good source of fiber,
              healthy fats, and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
        <!-- unique-components-card-description -->
      </li>
      <li class="unique-components-card">
        <img
          class="unique-components-img"
          alt="Hot milk white chocolate"
          src="./images/semi-sweet-chocolate-224.png"
          srcset="./images/semi-sweet-chocolate-224@2.png 2x"
        />
        <p class="unique-components-img-caption">semi - sweet chocolate</p>
        <!-- unique-components-card-description -->
        <div class="unique-components-card-body">
          <div class="unique-components-group">
            <h2 class="unique-components-card-title">semi - sweet chocolate</h2>
            <div class="unique-components-card-about-btn">
              <button class="unique-components-card-title-btn" type="button">
                sweet chocolate
              </button>
              <button class="unique-components-card-benefits-btn" type="button">
                the benefits
              </button>
            </div>
            <p class="unique-components-card-paragraph">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to
              gain an understanding of this type of chocolate is to compare it to a different type
              of chocolate. Semisweet is darker than milk chocolate. In a taste comparison, it has a
              slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
        <!-- unique-components-card-description -->
      </li>
    </ul>
  </div>
</section>

<!-- how-its-made -->
<section class="how-its-made-section unique-components-and-its-made-fonts">
  <div class="how-its-made-container">
    <h2 class="how-its-made-heading">
      how i’s <span class="how-its-made-heading-span">made?</span>
    </h2>
    <div class="how-its-made-horizontal-layout">
      <div class="how-its-made-video-player how-its-made-video">
        <button class="how-its-made-play-btn" type="button">
          <svg class="how-its-made-play-icon">
            <use href="./images/icon-play.svg#icon-play"></use>
          </svg>
        </button>
      </div>
      <div class="how-its-made-div">
        <h3 class="how-its-made-heading-three">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-its-made-list">
          <li class="how-its-made-list-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
          </li>
          <li class="how-its-made-list-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="how-its-made-list-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula
            so that the mass becomes uniform and silky.
          </li>
          <li class="how-its-made-list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>

          <li class="how-its-made-list-item">
            Pour the chocolate into special containers (can be replaced with ice molds). Allow to
            cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
